@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "OldList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Duyuru Arşivi</h2>
<br />
<div class="container">
    @foreach (var it in ViewBag.veriler)
    {
        <div class="col-md-4 col-md-4">
            <div class="card">
                <img src="~/img/@it.ImagePath" width="100%" height="220" />
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@it.Title"><h3 class="text-center"><font color="Grey">@it.Title</font></h3></a>
                    <br />
                    <p class="card-text"><font size="3px" color="black">@it.ShortDescription</font></p>
                    <div>
                        <a asp-action="Details" asp-route-id="@it.Title">DEVAMINI OKU ></a>
                        <br />
                        <time class="timeago text-muted">@it.Date.ToString("dd/MM/yyyy")</time>

                    </div>
                    <br />
                </div>
            </div>
        </div>
    }

</div>
<div class="text-center">
    <ul class="pagination background-color=" white"">

        @for (int i = 1; i <= ViewBag.toplamsayfa; i++)
        {
            <li class="page-item @(ViewBag.AktifSayfa==i?"active":"")">
                <a class="page-link" asp-action="OldList" asp-route-page="@i">@i</a>
            </li>
        }

    </ul>
</div>


