
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    @*<link href="~/StyleSheet.css" rel="stylesheet" />*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Haber.com - Son Dakika</title>
    <!--

    Template 2103 Central

    http://www.tooplate.com/view/2103-central

    -->




    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link href="~/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/css/tooplate-style.css">
    <!-- tooplate style -->

    <script>
        var renderPage = true;

        if (navigator.userAgent.indexOf('MSIE') !== -1
            || navigator.appVersion.indexOf('Trident/') > 0) {
            /* Microsoft Internet Explorer detected in. */
            alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
            renderPage = false;
        }
    </script>

</head>
<body>
    <!-- Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="container">
        <section class="tm-section-head" id="top">
            <header id="header" class="text-center tm-text-gray">

                <h1><b>Haber.com</b></h1>
                <br />


                <style>
                    #bas {
                        border: 2px solid black;
                        max-width: 1100px;
                        border-radius: 20px;
                        width: 680px;
                        position: relative;
                        margin: auto;
                    }

                    a {
                        color: black;
                    }
                </style>
                <div class="text-md-center">
                    <div id="bas">
                        <div id="ic">
                            <a class="m-md-3" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Spor"> <b>Spor</b></a>
                            <a class="m-md-3" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Magazin"><b>Magazin</b></a>
                            <a class="m-md-3" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Siyaset"><b>Siyaset</b></a>
                            <a class="m-md-3" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Eğitim"><b>Eğitim</b></a>
                            <a class="m-md-3" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Sağlık"><b>Sağlık</b></a>
                            <a class="m-md-3" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Ekonomi"><b>Ekonomi</b></a>
                            <a class="m-md-3" href="#tm-section-6"><b>İletişim</b></a>
                        </div>
                    </div>
                </div>
            </header>
            <br /><br />
        </section>
        <section>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">


                    @for (var i = 0; i < ViewBag.gundem.Count; i++)
                    {

                        <div class="@(i < 1 ? " active":"") carousel-item" data-slide-number="@i">
                            <a asp-action="Detail" asp-route-id="@ViewBag.gundem[i].Title">
                                <img src='~/img/@ViewBag.gundem[i].ImagePath' class="d-block w-100" width="100%" height="480">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                    }


                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




        </section>
        <br />
        <div class="row text-center">
            <div class="col-md-3">
                <!-- weather widget start --><a target="_blank" href="https://bookeder.com/weather/istanbul-18319"><img src="https://w.bookcdn.com/weather/picture/31_18319_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=5247" alt="booked.net" /></a><!-- weather widget end -->
            </div>
            <div class="col-md-3">
                <!-- weather widget start --><a target="_blank" href="https://bookeder.com/weather/ankara-18522"><img src="https://w.bookcdn.com/weather/picture/31_18522_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=5247" alt="booked.net" /></a><!-- weather widget end -->
            </div>
            <div class="col-md-3">
                <!-- weather widget start --><a target="_blank" href="https://bookeder.com/weather/izmir-18523"><img src="https://w.bookcdn.com/weather/picture/31_18523_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=5247" alt="booked.net" /></a><!-- weather widget end -->
            </div>
            <div class="col-md-3">
                <!-- weather widget start --><a target="_blank" href="https://bookeder.com/weather/yalova-35896"><img src="https://w.bookcdn.com/weather/picture/31_35896_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=5247" alt="booked.net" /></a><!-- weather widget end -->
            </div>
            @*<div class="col-md-2">
                     weather widget start <a target="_blank" href="https://bookeder.com/weather/bursa-9592"><img src="https://w.bookcdn.com/weather/picture/31_9592_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=5247" alt="booked.net" /></a> weather widget end
                </div>*@
        </div>

        <section class="tm-section-2 tm-section-mb lead" id="tm-section-2">
            <div class="text-left">
                <h4><b>Spor </b></h4>
            </div>
            <div class="text-right">
                <a color="black" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Spor">tümünü gör ></a>
            </div>

            <div class="row">

                @foreach (var s in ViewBag.spor)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-md-5 mb-5 pr-md-5">

                        <header class="text-center">
                            <img src="~/img/@s.ImagePath" width="100%" height="220" />
                        </header>

                        <h3>@s.Title</h3>
                        <p>
                            @s.ShortDescription
                        </p>

                        <a asp-action="Detail" asp-route-id="@s.Title" class="btn tm-btn-pad-2 float-right">Haberin Devamı</a>
                    </div>
                }
            </div>
        </section>
        <section class="tm-section-7 tm-section-mb lead" id="tm-section-7">
            <div class="text-left">
                <h4><b>Ekonomi </b></h4>
            </div>
            <div class="text-right">
                <a color="black" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Ekonomi">tümünü gör ></a>
            </div>

            <div class="row">

                @foreach (var s in ViewBag.ekonomi)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-md-5 mb-5 pr-md-5">

                        <header class="text-center">
                            <img src="~/img/@s.ImagePath" width="100%" height="220" />
                        </header>

                        <h3>@s.Title</h3>
                        <p>
                            @s.ShortDescription
                        </p>

                        <a asp-action="Detail" asp-route-id="@s.Title" class="btn tm-btn-pad-2 float-right">Haberin Devamı</a>
                    </div>
                }
            </div>
        </section>

        <section class="tm-section-8 tm-section-mb lead" id="tm-section-8">
            <div class="text-left">
                <h4><b>Sağlık </b></h4>
            </div>
            <div class="text-right">
                <a color="black" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Sağlık">tümünü gör ></a>
            </div>

            <div class="row">

                @foreach (var s in ViewBag.saglik)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-md-5 mb-5 pr-md-5">

                        <header class="text-center">
                            <img src="~/img/@s.ImagePath" width="100%" height="220" />
                        </header>

                        <h3>@s.Title</h3>
                        <p>
                            @s.ShortDescription
                        </p>

                        <a asp-action="Detail" asp-route-id="@s.Title" class="btn tm-btn-pad-2 float-right">Haberin Devamı</a>
                    </div>
                }
            </div>
        </section>
        <section class="tm-section-9 tm-section-mb lead" id="tm-section-9">
            <div class="text-left">
                <h4><b>Magazin </b></h4>
            </div>
            <div class="text-right">
                <a color="black" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Magazin">tümünü gör ></a>
            </div>

            <div class="row">

                @foreach (var s in ViewBag.magazin)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-md-5 mb-5 pr-md-5">

                        <header class="text-center">
                            <img src="~/img/@s.ImagePath" width="100%" height="220" />
                        </header>

                        <h3>@s.Title</h3>
                        <p>
                            @s.ShortDescription
                        </p>

                        <a asp-action="Detail" asp-route-id="@s.Title" class="btn tm-btn-pad-2 float-right">Haberin Devamı</a>
                    </div>
                }
            </div>
        </section>

        <section class="tm-section-10 tm-section-mb lead" id="tm-section-10">
            <div class="text-left">
                <h4><b>Siyaset </b></h4>
            </div>
            <div class="text-right">
                <a color="black" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Siyaset">tümünü gör ></a>
            </div>

            <div class="row">

                @foreach (var s in ViewBag.siyaset)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-md-5 mb-5 pr-md-5">

                        <header class="text-center">
                            <img src="~/img/@s.ImagePath" width="100%" height="220" />
                        </header>

                        <h3>@s.Title</h3>
                        <p>
                            @s.ShortDescription
                        </p>

                        <a asp-action="Detail" asp-route-id="@s.Title" class="btn tm-btn-pad-2 float-right">Haberin Devamı</a>
                    </div>
                }
            </div>
        </section>

        <section class="tm-section-11 tm-section-mb lead" id="tm-section-11">
            <div class="text-left">
                <h4><b>Eğtim </b></h4>
            </div>
            <div class="text-right">
                <a color="black" asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Eğitim">tümünü gör ></a>
            </div>

            <div class="row">

                @foreach (var s in ViewBag.egitim)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-md-5 mb-5 pr-md-5">

                        <header class="text-center">
                            <img src="~/img/@s.ImagePath" width="100%" height="220" />
                        </header>

                        <h3>@s.Title</h3>
                        <p>
                            @s.ShortDescription
                        </p>

                        <a asp-action="Detail" asp-route-id="@s.Title" class="btn tm-btn-pad-2 float-right">Haberin Devamı</a>
                    </div>
                }
            </div>
        </section>

        <div id="duyuru" class="row text-center">
            @foreach (var i in ViewBag.duyuru)
            {

                <div class="card-deck col-md-3">

                    <div class="card">
                        <a asp-action="Details" asp-route-id="@i.Title">
                            <img src="~/img/@i.ImagePath" width="100%" height="180" />
                        </a>

                        <div class="card-body">
                            <b>
                                <h5 class="card-title">@i.Title</h5>
                            </b>

                            <p class="card-text">@i.ShortDescription</p>
                        </div>
                    </div>
                </div>
                <br />
            }

        </div>

        <section class="tm-section-6" id="tm-section-6">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-xs-12">
                    <div class="contact_message">
                        <form method="post" class="contact-form" asp-action="Index">
                            <div class="row mb-2">
                                <div class="form-group col-xl-6">
                                    <input type="text" id="contact_name" name="Name" class="form-control" placeholder="Ad" required />
                                </div>
                                <div class="form-group col-xl-6 pl-xl-1">
                                    <input type="email" id="contact_email" name="Email" class="form-control" placeholder="Email" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="contact_message" name="Message" class="form-control" rows="6" placeholder="Mesaj" required></textarea>
                            </div>
                            <button id="gonder" type="submit" class="btn  tm-btn-submit float-right btn-big">Gönder</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-xs-12 tm-contact-right">
                    <div class="tm-address-box">
                        <h2 class="mb-4">Bize Ulaşın</h2>
                        <p class="mb-5">Dünyadan en son haberler, Türkiye'den son dakika gelişmeleri, günün öne çıkan gündem haberleri, dünya ekonomi piyasalarından flaş haberler, en yeni spor haberleri ve magazin dünyasından son olaylar Haber.com'da.</p>
                        <address>
                            Nef Offices Dörtlevent 09 B Blok Kat:3 No:79
                            Sultan Selim Mahallesi Hümeyra Sk. No:7, 34400
                            Kağıthane - İstanbul
                        </address>
                    </div>
                </div>
            </div>
        </section>
        <footer class="mt-5">
            <p class="text-center">Copyright © 2020 - Tüm hakları saklıdır. Haber.com Gazetecilik A.Ş.</p>
        </footer>
        <div class="text-center">
            <b>
                Üretim ve Tasarım. VANTAWORKS Yazılım Şirketi
            </b>
        </div>

    </div>

    <!-- load JS files -->
    <script type="text/javascript" src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <!-- https://popper.js.org/ -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script type="text/javascript" src="~/slick/slick.min.js"></script>

    <!-- Slick Carousel -->
    @if (ViewBag.basarili != null)
    {
        <script>
            $(document).ready(function () {
                alert("Mesajınız İletildi.");

            });

        </script>
    }




    <script>

        function setCarousel() {
            var slider = $('.tm-img-slider');

            if (slider.hasClass('slick-initialized')) {
                slider.slick('destroy');
            }

            if ($(window).width() > 991) {
                // Slick carousel
                slider.slick({
                    autoplay: true,
                    fade: true,
                    speed: 800,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            } else {
                slider.slick({
                    autoplay: true,
                    fade: true,
                    speed: 800,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            }
        }

        $(document).ready(function () {
            if (renderPage) {
                $('body').addClass('loaded');
            }

            setCarousel();

            $(window).resize(function () {
                setCarousel();
            });



            // Close menu after link click
            $('.nav-link').click(function () {
                $('#mainNav').removeClass('show');
            });

            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            // Select all links with hashes
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top + 1
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
        });
    </script>

</body>

</html>

